In [1]:
from convokit import Corpus, download

In [2]:
corpus = Corpus(filename=download("movie-corpus"))

Downloading movie-corpus to /Users/zediwan/.convokit/downloads/movie-corpus
Downloading movie-corpus from http://zissou.infosci.cornell.edu/convokit/datasets/movie-corpus/movie-corpus.zip (40.9MB)... Done

In [3]:
corpus.print_summary_stats()

Number of Speakers: 9035
Number of Utterances: 304713
Number of Conversations: 83097

In [4]:
df_conversations = corpus.get_conversations_dataframe()
df_conversations

,vectors,meta.movie_idx,meta.movie_name,meta.release_year,meta.rating,meta.votes,meta.genre
id,,,,,,,
L1044,[],m0,10 things i hate about you,1999,6.90,62847,"['comedy', 'romance']"
L984,[],m0,10 things i hate about you,1999,6.90,62847,"['comedy', 'romance']"
L924,[],m0,10 things i hate about you,1999,6.90,62847,"['comedy', 'romance']"
L870,[],m0,10 things i hate about you,1999,6.90,62847,"['comedy', 'romance']"
L866,[],m0,10 things i hate about you,1999,6.90,62847,"['comedy', 'romance']"
...,...,...,...,...,...,...,...
L666324,[],m616,zulu dawn,1979,6.40,1911,"['action', 'adventure', 'drama', 'history', 'w..."
L666262,[],m616,zulu dawn,1979,6.40,1911,"['action', 'adventure', 'drama', 'history', 'w..."
L666520,[],m616,zulu dawn,1979,6.40,1911,"['action', 'adventure', 'drama', 'history', 'w..."
L666369,[],m616,zulu dawn,1979,6.40,1911,"['action', 'adventure', 'drama', 'history', 'w..."
L666256,[],m616,zulu dawn,1979,6.40,1911,"['action', 'adventure', 'drama', 'history', 'w..."

In [5]:
cs = corpus.conversations.values()
all_convos = []
for conv in cs:
    text_vector = ([utt.text for utt in conv.traverse('preorder')])
    text = ""
    for sentence in text_vector:
        text += sentence + ", "
    #print(text)
    info = [conv.id, text, conv.meta["movie_name"], conv.meta["movie_idx"], conv.meta["release_year"], conv.meta["genre"]]
    #print(info)
    all_convos.append(info)

In [6]:
# DEPRECATED TESTING CODE FOR SINGLE CONVERSATION

random_convo = corpus.random_conversation()
#random_convo.print_conversation_structure(lambda utt: utt.text[:]+ "\n")
text_vector = ([utt.text for utt in random_convo.traverse('preorder')])
text = ""
for sentence in text_vector:
        text += sentence + ", "

#print(text)
info = [random_convo.id, text, random_convo.meta["movie_idx"], random_convo.meta["movie_name"], random_convo.meta["release_year"], random_convo.meta["genre"]]
print(info)

['L191648', "Commander Skywalker hasn't come through the south entrance, sir. Maybe he slipped by without checking in., Not likely!  Where are the speeders?, We haven't got them adapted to this cold yet ..., We'll have to go out on Tauntauns., The temperature is dropping too fast., You bet it is ... and Luke's out in it., ", 'm337', 'star wars: the empire strikes back', '1982', "['animation', 'adventure', 'action', 'fantasy']"]

In [7]:
# DEPRECATED TESTING CODE FOR SINGLE CONVERSATION

print(random_convo)

Conversation('id': 'L191648', 'utterances': ['L191653', 'L191652', 'L191651', 'L191650', 'L191649', 'L191648'], 'meta': ConvoKitMeta({'movie_idx': 'm337', 'movie_name': 'star wars: the empire strikes back', 'release_year': '1982', 'rating': '8.00', 'votes': '42', 'genre': "['animation', 'adventure', 'action', 'fantasy']"}))

In [8]:
import pandas

In [9]:
columns = ["Conversation ID", "Text", "Movie Title", "Movie ID", "Release Year", "Genre"]

In [10]:
df = pandas.DataFrame(all_convos, columns=columns)
df.head()

,Conversation ID,Text,Movie Title,Movie ID,Release Year,Genre
0,L1044,"They do to!, They do not!,",10 things i hate about you,m0,1999,"['comedy', 'romance']"
1,L984,"She okay?, I hope so.,",10 things i hate about you,m0,1999,"['comedy', 'romance']"
2,L924,"Wow, Let's go.,",10 things i hate about you,m0,1999,"['comedy', 'romance']"
3,L870,I'm kidding. You know how sometimes you just ...,10 things i hate about you,m0,1999,"['comedy', 'romance']"
4,L866,I figured you'd get to the good stuff eventual...,10 things i hate about you,m0,1999,"['comedy', 'romance']"

In [ ]:
path = "/Users/zediwan/Documents/[03] University/[06] FS24/Text as Data and Automated Content Analysis/[04] Assignments/Final Project"
df.to_csv(path_or_buf=path)